@media print {
  .no-print { display: none !important; }
  .print\:border-0 { border: 0 !important; }
  .print\:shadow-none { box-shadow: none !important; }
  .print\:rounded-none { border-radius: 0 !important; }
}
